@font-face {
	font-family: 'RobotoSlab';
	src: url('../fonts/Roboto Slab/RobotoSlab-Regular.ttf');
}

@font-face {
	font-family: 'RobotoSlab';
	src: url('../fonts/Roboto Slab/RobotoSlab-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Manrope';
	src: url('../fonts/Manrope/Manrope-Regular.ttf');
}

@font-face {
	font-family: 'Manrope';
	src: url('../fonts/Manrope/Manrope-Bold.ttf');
	font-weight: bold;
}
