//Fonts
$primary-font: 'RobotoSlab';
$secondary-font: 'Manrope';

//Colors
$primary-color100: #55bc92; //green
$primary-color200: #1e6b4c; //dark green - hover state

$secondary-color100: #012841; //footer background
$secondary-color200: #0b3d5c; //copyright section background
$secondary-color300: #18a7e7; //hero section link color
$secondary-color400: #619ec3; //heading of an column in footer
$secondary-color500: #bbd8ea; //blue circle in hero section
$navbar-background: #012841;
$services-active-state: #e5f3fe;

$tertiary-color200: #f8cc6a; //orange
$tertiary-color100: #ff6200; //dark orange 

$quarterly-color100: #f3eff0; //about us section background
$quarterly-color200: #f1edee; //product item background
$quarterly-color300: #868686; //subtitle color
$quarterly-color400: #fafcf4; //contact us section background

$black: #000000;
$white: #ffffff;

//Breakpoints
$uw:    1919px;
$xl:    1659px;
$mac:   1439px;
$lt:    1365px;
$ls:    1279px;
$lg:    1023px;
    
$md:    959px; 
$sm:    767px;
$tb:    567px;
    
$mb:    413px;
$ip:    359px;
$xs:    309px;

